:root {
    --dashboard-light: rgba(248, 249, 250, 1);
    --dashboard-whitish: rgba(229, 229, 229, 1);
    --dashboard-process: rgba(255, 143, 0, 1);
    --dashboard-dark: rgba(91, 88, 88, 1);
    --dashboard-header: #1b72e8;
    --dashboard-sidebar: rgba(5, 30, 52, 1);
}

body {
    font-family: 'Roboto';
    height: 100vh;
    padding-top: 60px;
}

/* design header */
 #site_header {
    height: 60px;

} 

.nav-center .form-control,
.input-group-text {
    background-color: var(--dashboard-whitish);
}
/* design fa-bell  */

.nav-link:has(.fa-bell) {
    color: var(--dashboard-process);
}


.nav-link:has(.fa-bell)::after {
    display: none;
}


/* start nav sidebar */

.sidebar_menu {
    flex-shrink: 0;
}


#sidebar_top {
    background-image: url(./img/sidebar-bg.png);
    background-color: var(--dashboard-sidebar);
}

/* style of btn in hover */
li:has(.nav-link):hover {
    background-color: rgba(255, 255, 255, 0.522);
}

.admin .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.522);
}



.banner {
    background-color:var(--dashboard-header);
   
}


main {
    flex-grow: 1;
    overflow-y: auto;
}
.custom_badge{
    background-color: rgb(1 52 97 / 37%);
  font-weight: initial;
}


  .custom_button{
    height: 35px;
    width: 40px;
}
.card_top{
    background-color: var(--dashboard-whitish);
 
}

.fa-pencil , .fa-trash{
    color: grey;
}
@media screen and (max-width: 767px) {
    .studente_banner{
        order: -1;
    }
}